<p>{{ _("Hello,") }}</p>
<br>
<p>
    {{ _("A temporary password has been issued for your account at the request of one of your batch moderators.") }}
</p>
<br>
<p>{{ _("Email:") }} <b>{{ email }}</b></p>
<p>{{ _("Temporary password:") }} <b>{{ temp_password }}</b></p>
<br>
<p>
    {{ _("You will be asked to choose a new password the first time you sign in with it.") }}
</p>
<br>
<p>
    <a href="{{ login_url }}">{{ _("Sign in") }}</a>
</p>
<br>
<p>
    {{ _("If you did not ask for this, contact your batch moderator — your previous password no longer works.") }}
</p>
<br>
<p>{{ _("Best Regards") }}</p>
